@import "~bootstrap/scss/bootstrap";

.bg-primary {background: #e91e63 !important;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #303030;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar-brand {padding-left: 15px;}
.jumbotron {background: #404040; padding: 20px;}
.form-control {background: #404040; color: #bdbdbd; border-color: #565656;}
.form-control::placeholder {color: #bdbdbd}
.form-control:focus {background-color: #404040; border-color: #464646; box-shadow: 0 0 0 0.25rem rgba(86, 86, 86, 25%); color: #bdbdbd}
.list-group-item {background-color: #404040; color: #bdbdbd; border: 1px solid rgb(96, 96, 96); display: flex; justify-content: space-between; align-items: center;}
.list-group-item strong {margin-right: 1rem;}
.btn-outline-danger {border-color: #e91e63; color: #e91e63}
.btn-outline-danger:hover {border-color: #e91e63; background: #e91e63}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 350ms ease-out;
  opacity: 0;
}

.note-exit-active {animation: note 800ms ease-out forwards;}
.note-enter-active {animation: note 800ms ease-in alternate-reverse;}


@keyframes note {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: .7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}